
@model APONCoreWebsite.Pages.Shared._Forum__PostModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@




<div class="grid-row forum-outer forum-post-top">
    <div *ngIf="!saving">
        <div class="col-1-of-4">
            <div class="grid-row">
                <div class="col-full">
                    @Model.FPI.lastUpdatedInfo.LastUpdatedByName
                </div>

                <div class="col-full">
                    @Model.FPI.forumPost.PostDate.ToShortDateString()
                </div>

                <div class="col-full">
                    <img class="forumUser-image" src=@Model.FPI.lastUpdatedInfo.LastUpdatedByImageURL />
                </div>
            </div>
        </div>
        <div class="col-3-of-4">

            <div class="mt-5" id=@("forumPostText" + @Model.FPI.forumPost.ForumPostID)>@Html.Raw(Model.FPI.forumPost.Text)</div>
          

            @if (Model.CurrentUserID == Model.FPI.lastUpdatedInfo.LastUpdatedBy)
            {<div><button type="button" onclick="window.location.href='@("../../EditComment/" + @Model.FPI.forumPost.ForumPostID)'">Edit</button></div>}


        </div>
    </div>
</div>




