
@model APONCoreWebsite.Pages.Shared._tagConsoleModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<table>
    <tr>
        <td>
            <div>
                Input your Tag Here
            </div>

            <div>
                <input type="text" id="txtTagFilter" oninput="filterTagList()" />
            </div>
            <div>
                <button type="button" onclick="addNewTag()">Add Tag</button>
            </div>

        </td>
        <td>

            <select id="TagSelector" size="6" style="width: 300px" onchange="AddTagToList(this)"></select>
        </td>
        <td>
            <ul id="tagList">
            </ul>
        </td>
    </tr>
</table>
<input type="hidden" id="selectedTagIndicies" value="@Model.SelectedIndicies" />
<input type="hidden" id="selectedTagIDs" name="selectedTagIDs" value=@Model.SelectedIDs />
@Html.HiddenFor(model => model.Tags.Count, new { id = "TagModelCount" })

<div id="hiddenTagInfo">

    @{



        for (int i = 0; i < Model.Tags.Count; i++)
        {
           
            <input type="hidden" id="@("Tag[" + i + "].Index")" value="@Model.Tags[i].TagID" />
            <input type="hidden" id="@("Tag[" + i + "].Name")" value="@Model.Tags[i].Name" />
         

          


        }


    }
</div>










