@model APONCoreLibrary.Models.Crew

<div class="rotatorCard">
    <div class="rotatorCard__side rotatorCard__side--front">
        <img class="rotatorCard__topImage" src="@Model.ImageURL" />

        <div class="rotatorCard__bottomName">

            <h2>@Model.FullName</h2>
            <br />
            <h3>@Model.Title</h3>

        </div>
    </div>
    <div class="rotatorCard__side rotatorCard__side--back">
        <p class="pt-5 m-3">@Html.Raw(Model.Description)</p>

        <div class="grid-row">
            @if (Model.Instagram != "")
            {
                <div class="col-1-of-4">
                    <a href="@Model.Instagram" target="_blank">
                        <img src="https://media.allportsopen.org/images/siteimages/InstaColor.png"
                             class="profile-social-media-icon" />
                    </a>
                </div>
            }
            @if (Model.Twitter != "")
            {
                <div class="col-1-of-4" *ngIf="CrewMember.twitter">
                    <a href="@Model.Twitter" target="_blank">
                        <img src="https://media.allportsopen.org/images/siteimages/TwitterWB.png"
                             class="rounded profile-social-media-icon" />
                    </a>
                </div>
            }
            @if (Model.Email != "")
            {
                <div class="col-1-of-4" *ngIf="CrewMember.email">
                    <a href="@Model.Email" target="_blank">
                        <img src="https://media.allportsopen.org/images/siteimages/MailIcon.png"
                             class="profile-social-media-icon rounded" />
                    </a>
                </div>
            }
            @if (Model.Website != "")
            {
                <div class="col-1-of-4" *ngIf="CrewMember.website">
                    <a href="@Model.Website" target="_blank">
                        <img src="https://media.allportsopen.org/images/siteimages/WeblinkIcon.png"
                             class="profile-social-media-icon" />
                    </a>
                </div>
            }
        </div>

    </div>
</div>
