@page "/Series/Episode/{EpisodeID}"
@model APONCoreWebsite.Pages.Series.EpisodeModel
@{
    ViewData["Title"] = Model.SeriesName + " Podcast " + Model.Episode.Title;
}

@if (Model.Episode.EpisodeID != -1)
{
<div class="top-banner">
    <div class="grid-row">
        <div class="col-1-of-2">
            <img class="top-banner-image"
                 src=@Model.Episode.EpImageURL
                 id="ShowImage" />

            <partial name="_TagList" model=@Model.Tags />
        </div>
        <div class="col-1-of-2 episodeInfoColumn">
            <div class="grid-row">
                <div class="col-3-of-4">
                    <div class="episodeInfoColumn__title">
                        @Model.Episode.Title
                    </div>
                    <div class="grid-row">
                        <h4>@Model.Episode.ShowDate.ToShortDateString()</h4>
                    </div>
                   
                    <div>
                        <audio id="player" class="player" controls>
                            <source id="audioSource" src=@Model.FileURL />
                        </audio>
                    </div>
                    @if (Model.UserAuthLevel < 4)
                    {

                        <div class="editorControl">
                            <div>
                                <div class="editorControl__head">
                                    Editor Tools
                                </div>

                                <div class="grid-row editorControl__body">
                                    <button type="button"
                                            class="APONbtn APONbtnEditor editorControl__body--btn" onclick="GoToEpEdit()">
                                        Edit
                                    </button>

                                    <button type="Button"
                                            class="APONbtn APONbtnEditor editorControl__body--btn">
                                        Add to Subseries
                                    </button>

                                    <button type="button"
                                            onclick="DeleteEp()"
                                            class="APONbtn APONbtnEditor editorControl__body--btn">
                                        Delete
                                    </button>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="grid-row">
                       
                           <partial name="_AuthorShield" model=@Model.Author.User />
                      

                    </div>

                    <div class="grid-row mt-3">
                        <div class="episodeInfoColumn__description"
                             id="episodeDescription">
                            @Html.Raw(Model.Episode.WebDescription)

                        </div>
                    </div>
                </div>
                <div class="col-1-of-4" style="text-align:right">
                    <a href='@("../../" + Model.epSeries.NavLinkName )'>
                        <img class="img-fluid img EpisodeSeriesImage" style="float:right" src="@Model.epSeries.ImageURL" />
                    </a>
                    <div class="row">
                        <div class="cm-lg-12 text-lg-right">
                            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a>
                            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                        </div>
                     </div>
                    <div clasws="row">
                        <div class="cm-lg-12">
                            <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width="" data-layout="box_count" data-action="like" data-size="small" data-share="true"></div>

                        </div>


                    </div>
                </div>
            </div>



        </div>
    </div>
    <hr />
</div>
@Html.HiddenFor(model => model.FileURL, new { id = "audioFileURL" });
<partial name="_ForumView" model=@Model.fvm />
}
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {


             renderCommentTinyMCE();

        });
      
    function GoToEpEdit() {
        let i = @Model.EpisodeID;
        window.location.href = "../../admin/EditEpisode/" + i;
    }

    function DeleteEp() {
        if (confirm("Are you certain you want to delete this episode? You will remove all associated content (Forum posts, forums, etc)?")) {

            $.ajax({
                type: "POST",
                url: '/admin/EditEpisode/' + @Model.EpisodeID + '?handler=DeleteEpisode',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN", $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                contentType: "application/json; charset=utf-8",
                data: null,
                success: function (resp) {
                    console.log(resp);
                    switch (resp) {
                        case 200, "200", "OK": alert("You did it, you deleted it all! Schmuck.");
                            window.location.href = "../../Index";
                            break;
                        case 403, "403", "Forbidden":
                            console.log("Test");
                            alert("You don't have permission to delete this episode.");
                            window.location.href = "../../Index";
                            break;
                        case 404, "404", "NotFound": alert("Could not find an episode with this ID, which is strange, bc here you are.");
                            break;
                    }
                }
            });

        }
    }
    </script>
}