@page "{index:int?}"

@addTagHelper *,Microsoft.AspCore.Mvc.TagHelpers
@model IndexModel

@Html.HiddenFor(m => m.index)
@{
    ViewData["Title"] = "Home page";

}







<div>

    @if (Model.SplashNews != null)
    {

        <div>
            <div class="row frontPageImageViewer">
                <div class="col-xs-12 col-md-8 frontPageImageViewerImageCol">
                    <a id="MainImageLink" href=@Model.SplashNews[0].PostURL + @Model.SplashNews[0].LinkID>
                        <img class="frontPageImageViewerImageCol__Image" id="mainImage" src=@Model.SplashNews[Model.index].ImageURL />
                    </a>

                    <button type="button" onclick="javascript:Previous()" class="frontPageImageViewerImageCol__Button frontPageImageViewerImageCol__Button--back">
                        &lt;
                    </button>



                    <button type="button" onclick="javascript:Next()" class="frontPageImageViewerImageCol__Button frontPageImageViewerImageCol__Button--forward">

                        >
                    </button>

                </div>
                <div class="col-xs-12 col-md-4 frontPageImageViewer__rightText">
                    <div class="pt-3 m-3"><p id="Headline">@Model.SplashNews[Model.index].Headline</p></div>
                </div>

                <div class="grid-row">
                    @*<div class="col-1-of-1">
                            <app-frontpage-image-picker *ngFor="let i of numbers"
                                                        [cardIndex]="i"></app-frontpage-image-picker>
                        </div>*@
                </div>
            </div>
        </div>


        @for (int i = 0; i < Model.SplashNews.Count; i++)
        {
            @Html.HiddenFor(model => model.SplashNews[i].Headline, new { id = "SplashNews[" + i + "].Headline" });
            @Html.HiddenFor(model => model.SplashNews[i].PostURL, new { id = "SplashNews[" + i + "].PostURL" });
            @Html.HiddenFor(model => model.SplashNews[i].ImageURL, new { id = "SplashNews[" + i + "].ImageURL" });
            @Html.HiddenFor(model => model.SplashNews[i].LinkID, new { id = "SplashNews[" + i + "].LinkID" });
        }

    }
</div>


@section Scripts{
    <script type="text/javascript">

        var myTimer;

        $(document).ready(function () {
            UpdateSplash();

        });

        function StartTimer() {
            myTimer = setTimeout(function () { Next() }, 3000);
        }

        function CancelTimer() {
            clearTimeout(myTimer);
        }

        function Next() {

            var count = @Model.SplashNews.Count;
            var index = document.getElementById("index").value;
       

            index++;

           if (index > count - 1) {
                index = 0;
            }


           
            document.getElementById("index").value = index;
            UpdateSplash();
           
        }


                function Previous() {

            var count = @Model.SplashNews.Count;
            var index = document.getElementById("index").value;


           if (index - 1 < 0) {
                index = count -1;
            }
            else {
                index--;
            }

                    document.getElementById("index").value = index;
                    UpdateSplash();

        }

        function UpdateSplash()
        {
            CancelTimer();
            StartTimer();
            var index = document.getElementById("index").value;

            var name = 'SplashNews[' + index + '].';

            document.getElementById("mainImage").src = document.getElementById(name + 'ImageURL').value;
            document.getElementById("MainImageLink").href = document.getElementById(name + 'PostURL').value + document.getElementById(name + 'LinkID').value;
            document.getElementById("Headline").innerHTML = document.getElementById(name + 'Headline').value;
            }
    </script>
}





