@page
@using APONCoreLibrary;
@using APONCoreLibrary.Models;
@model APONCoreWebsite.Pages.LoginModel

@{
}


<div class="centerbox">
    <div class="LoginCol LeftLoginCol">
        <div class="LoginColumnHeader">LOGIN</div>
        <hr />
        <div class="centerbox__inputArea">


            <form id="frmLogin" name="frmLogin" method="post">
                <div class="centerbox__inputArea--text"><label>Username</label></div>
                <div>
                    <input type="text"
                           id="loginUsername"
                           name="loginUsername"
                           class="form-control centerbox__inputArea--textBox"
                           asp-for="LoginUser.UserName"
                           required />
                    
                </div>
                <div class="centerbox__inputArea--text">Password</div>
                <div>
                    <input type="password"
                           name="loginPassword"
                           class="centerbox__inputArea--textBox form-control"
                           asp-for="LoginUser.Password"
                           required />
                 
                </div>
                <div>
                    <button class="APONbtn APONbtnOrange centerbox__inputArea--submitButton"
                            type="submit" asp-page-handler="Login">
                        Log In
                    </button>
                </div>
                <div>
                    Login Message: @Model.LoginMessage
                </div>
            </form>
            <div>
                <button class="APONbtn APONbtnOrange centerbox__inputArea--submitButton"
                        onclick="ShowResetPasswordSection()" type="button">
                    Forgot your Info?
                </button>
                <form method="post">

                    <div id="ResetPasswordSection" style="visibility:hidden" class="centerbox__inputArea--text">
                        Please enter your email address:
                        <input type="text"
                               name="resetEmail"
                               class="centerbox__inputArea--textBox form-control"
                               required
                               email />
                        <div class="loginError">
                            Please enter a vaild email address to reset your password.
                        </div>

                        <button class="APONbtn APONbtnOrange centerbox__inputArea--submitButton"
                                type="submit" asp-page-handler="ResetPassword">
                            Reset Password
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="LoginCol">
        <div class="LoginColumnHeader">Register</div>
        <hr />
        <div class="centerbox__inputArea">
            <form name="frmRegistration" id="frmRegistration" method="post">
                <div class="centerbox__inputArea--text">Username</div>
                <div>
                    <input type="text"
                           id="registerUsername"
                           name="registerUsername"
                           class="form-control centerbox__inputArea--textBox"
                           required
                           minlength="6" />

                </div>
                <div class="centerbox__inputArea--text">Email Address</div>
                <div>
                    <input type="text"
                           id="registerEmail"
                           name="registerEmail"
                           class="centerbox__inputArea--textBox form-control"
                           required
                           email />
                </div>

                <div class="centerbox__inputArea--text">Password</div>
                <div>
                    <input type="password"
                           id="registerPassword1"
                           name="registerPassword1"
                           class="centerbox__inputArea--textBox form-control"
                           required
                           minlength="6" />

                </div>
                <div class="centerbox__inputArea--text">Repeat Password</div>
                <div>
                    <input type="password"
                           id="registerPassword2"
                           name="registerPassword2"
                           class="centerbox__inputArea--textBox form-control"
                           required
                           minlength="6"
                           data-rule-equalto="#registerPassword1" />

                </div>
                <div><strong>@Model.RegisterMessage</strong></div>
                <div>
                    <button type="submit"
                            asp-page-handler="SignUp"
                            class="APONbtn APONbtnOrange centerbox__inputArea--submitButton">
                        Register
                    </button>
                </div>
            </form>
        </div>
    </div>

    if (@Model.SavedURT != null)
    {
    @Html.HiddenFor(model => model.SavedURT.Token, new { id = "login_Token" });
    @Html.HiddenFor(model => model.TokenExpDate, new { id = "login_Expiration" });
    @Html.HiddenFor(model => model.SavedURT.UserName, new { id = "login_UserName" });
    @Html.HiddenFor(model => model.SavedURT.UserID, new { id = "login_UserID" });
    @Html.HiddenFor(model => model.SavedURT.AuthLevel, new { id = "login_AuthLevel" });
    @Html.HiddenFor(model => model.SavedURT.imageURL, new { id = "login_ImageURL" });
    @Html.HiddenFor(model => model.SavedURT.Theme, new { id = "login_Theme" });




    }

   
</div>


@section Scripts
{
    <script type="text/javascript">


        var LoggedIn;

        $(document).ready(
            function ()
            {

            var myStorage = window.localStorage;

            LoggedIn = @Model.LogInSuccessful.ToString().ToLower();


                if (LoggedIn)
                {

                    var j = new JWT(document.getElementById("login_UserName").value,
                        document.getElementById("login_UserID").value,
                        document.getElementById("login_AuthLevel").value,
                        document.getElementById("login_Token").value,
                        document.getElementById("login_Expiration").value,
                        document.getElementById("login_Theme").value,
                        document.getElementById("login_ImageURL").value);


                    var jwt = JSON.stringify(j);


                    myStorage.setItem("userJWT", jwt);


                    window.location.href = "/Index";


                }


               
            });



        function ShowResetPasswordSection() {
            document.getElementById("ResetPasswordSection").style.visibility = "visible";
        }

    </script>
}